.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__features{
        display: flex;
        gap: 50px;
        align-items: center;

        & ul{
            display: flex;
            gap: 15px;

            & a{
                text-decoration: none;
                color: #000;
            }
        }

        &--category input{
            display: none;
        }

        &--category label{
            cursor: pointer;
        }

        &--search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 10px;

            & input{
                border: none;
                outline: none;
            }
        }
    }
    &__login{
        display: flex;
        gap: 15px;

        & .cart{
            font-size: 28px;
            &::after{
                content: "";
                position: absolute; /* Set position to absolute */
                top: 50%; /* Adjust position as needed */
                right: 10px; /* Adjust position as needed */
                transform: translate(50%, -50%); /* Center the pseudo-element */
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 50%;
            }
        }

        & button{
            padding: 5px;
            border: none;
            background-color: #000;
            color: #fff;
        }
        & button:hover{
            background-color: #fff;
            color: #000;
        }
    }
    
}
.line{
    width: 1px;
    border: 1px solid;
    height: 35px;
}