.right {
  width: 85%;

  &__shoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 30px;

    &--shoe {
      border: 2px solid #333;
      border-radius: 20px;
      width: 270px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "image" "title" "price" "cart";
      grid-gap: 5px;
      padding: 10px 20px;

      &--addCart {
        padding: 5px;
        width: 100%;
        border: none;
        background-color: #000;
        color: #fff;
        grid-area: cart;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }

      &--name {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        grid-area: title;
      }

      &--price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        grid-area: price;

        & .prevPrice {
          color: rgb(157, 155, 155);
          text-decoration: line-through;
        }
      }

      & img {
        width: 100%;
        grid-area: image;
      }

      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.shoeLine {
  width: 1px;
  height: 20px;
  border: 1px solid;
}

@media (max-width: 480px) {
  .right {
    width: 100%;

    &__shoes {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      justify-items: center;
      gap: 15px;
      padding: 10px 0;

      &--shoe {
        width: 180px;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: "image" "title" "price" "cart";

        & img {
          width: 80%;
        }

        &--name {
          font-size: 15px;
        }

        &--price {
          & p {
            font-size: 13px;
          }
        }

        & button {
          width: 80%;
          padding: 3px 3px;
        }
      }
    }
  }
}
